<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>OpenCDN</title>

	<!-- Le styles -->
	<link href="./resource/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="./resource/style.less" rel="stylesheet/less" type="text/css">

	<script src="./resource/jquery-1.9.0.min.js" type="text/javascript"></script>
	<script src="./resource/less-1.3.3.min.js" type="text/javascript"></script>
	<script src="./resource/artDialog/jquery.artDialog.js?skin=black"></script>
	<script src="./resource/artDialog/plugins/iframeTools.js"></script>


	<script type="text/javascript">
		(function (config) {
			config['lock'] = true;
			config['fixed'] = true;
			config['drag'] = false;
			config['okVal'] = '确定';
			config['cancelVal'] = '取消';
		})(art.dialog.defaults);
		window.alert = art.dialog.alert;
		window.confirm = art.dialog.confirm;
	</script>
	<script src="./resource/global.js" type="text/javascript"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<h2 class="brand" href="./" >OpenCDN</h2>
		<ul class="nav pull-left">
			<li>
				<a href="./?node"><i class="nav-node"></i>节点管理</a>
			</li>
			<li>
				<a href="./?domain"><i class="nav-site"></i>站点管理</a>
			</li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<a href="./?profile"><i class="icon-user icon-white"></i>个人信息</a>
			</li>
			<!--<li>
				<a href="#"><i class="icon-cog icon-white"></i>设置</a>
			</li>!-->
			<li>
				<a href="./?exit"><i class="icon-off icon-white"></i>退出</a>
			</li>
		</ul>
	</div>
</div>